.secondcontent{
    background-color: aqua;
}

#thirdcont{

background-color: #2BEB0E;
}

#cover-box {
    background-color: black;
    color: pink;
    width: 100px;
    height: 50px;
    font-size: 13px;
  }

